<!-- Description Section -->
<section id="description" class="schedule">
    <div class="content-wrapper text-left">
        <div class="col-lg-8 col-md-10 col-md-offset-1">
            <h3>Test</h3>
            <p>Na het geweldige succes van de eerste FOSS4GNL in Groningen afgelopen jaar, wordt er ook dit jaar een FOSS4GNL gehouden. Dit jaar is de Aeres Hogeschool in Almere de locatie, en de conferentie vindt plaats op 10/11 juli.</p>
            <br>
            <p>Op 10 juli wordt, bij wijze van pre-conference, een workshopdag georganiseerd. Op deze dag staan de sponsoren van OSGeoNL klaar jullie weer veel nieuws te leren, waarbij er veel hands-on gedaan wordt. Let op: vier workshops zijn in de ochtend, vier in de middag. Kies de juiste voor jezelf!</p>
            <br>
            <p>De conferentie zelf is op 11 juli. Op deze dag staat een keur aan sprekers op het programma, die allemaal hun kennis en ervaring met opensource-geotoepassingen delen. Het hele spectrum wordt behandeld: techniek, toepassingsvelden, gebruikerservaringen... het belooft weer een uitstekende dag te worden.</p>
        </div>
    </div>
</section>
<!-- End Description Section -->
